# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
.melos_tool/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS build artifacts
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/build/
ios/.symlinks/
ios/DerivedData/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace

# Permitir solo podhelper.rb
!ios/Flutter/podhelper.rb


# MacOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/build/

# Web
web/manifest.json

# Other
.idea/
.vscode/
*.iml
*.log

# Exceptions: allow necessary iOS artifacts for Codemagic
!ios/Flutter/Flutter.framework
!ios/Flutter/App.framework
!ios/Flutter/Flutter.podspec
!ios/Flutter/Generated.xcconfig
!ios/Runner/GeneratedPluginRegistrant.*
!ios/Flutter/podhelper.rb
+ !ios/Runner.xcodeproj/