# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
.melos_tool/

# Android
android/.gradle/
android/app/build/
android/local.properties

# Xcode
ios/Flutter/ephemeral/
ios/Flutter/App.framework.dSYM
ios/Flutter/Flutter.framework.dSYM
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.symlinks/
ios/build/
ios/profile
ios/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# MacOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/build/

# Web
web/manifest.json

# Other
.idea/
.vscode/
*.iml
*.log

# Exceptions: allow necessary iOS artifacts for Codemagic
!ios/Flutter/Flutter.framework
!ios/Flutter/App.framework
!ios/Flutter/Flutter.podspec
!ios/Flutter/Generated.xcconfig
!ios/Runner/GeneratedPluginRegistrant.*
+ !ios/Runner.xcodeproj/