# CocoaPods
Pods/
Podfile.lock

# Flutter ephemeral files
Flutter/ephemeral/
Flutter/Flutter.framework.dSYM
Flutter/App.framework.dSYM

# Build outputs
build/
DerivedData/
.xcworkspace/
xcuserdata/

# Xcode user data
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Device support
profile

# Symlinks
.symlinks/

# Exceptions: needed for Codemagic
!Flutter/Flutter.framework
!Flutter/App.framework
!Flutter/Flutter.podspec
!Flutter/Generated.xcconfig
!Runner/GeneratedPluginRegistrant.*
!Flutter/podhelper.rb
